version: "3.8"
services:
  postgres:
    image: docker.io/library/postgres:latest
    environment:
      - "POSTGRES_DB=wise"
      - "POSTGRES_USER=system"
      - "POSTGRES_PASSWORD=klmn"
    volumes:
      - ./space:/root/space
  metis:
    image: metis_head:latest
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - ./space:/root/space
      - ./scripts:/root/scripts
    ports:
      - "127.0.0.1:8888:8888" # jupyter
    entrypoint: /root/scripts/entrypoint_notebook.sh
  mwsetuptest:
    image: metis_head:latest
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - ./space:/root/space
      - ./scripts:/root/scripts
    entrypoint: /root/scripts/metiswise_test_setup.sh
  dbviewer:
    image: metis_head:latest
    ports:
      - "127.0.0.1:8080:8080" # dbviewer
    entrypoint: /root/scripts/entrypoint_dbview_test.sh
    volumes:
      - ./scripts:/root/scripts
      - ./space:/root/space
  dataserver:
    image: metis_head:latest
    ports:
      - "127.0.0.1:8013:8013" # dbviewer
    entrypoint: /root/scripts/entrypoint_dataserver.sh
    volumes:
      - ./scripts:/root/scripts
      - ./space:/root/space
